.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.n-name {
  width: max-content;
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.n-list > ul li {
  transition: var(--transition);
}

.n-list > ul li:hover {
  cursor: pointer;
  color: var(--orange);
}
