.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.intro .i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0;
}
.i-icons > * {
  transform: scale(0.5);
}

.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  transform: scale(0.67);
  top: -4.6rem;
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}
.i-right > :nth-child(4) {
  transform: scale(0.6);
  left: -24%;
  top: -19%;
  border-radius: 50%;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -10;
  top: -18%;
  left: 56%;
}
