.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 30vh;
  margin-bottom: 8rem;
}
.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #87e6fb 8%, #ffc05c 100%);
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  box-shadow: var(--boxShadow);
}
.achievement span:last-child {
  color: var(--orange);
}
/* Dark Mode Style */
.App.darkMode .circle {
  color: var(--black);
}
/* =============Media queries (Small Devices)=========== */
@media screen and (min-width: 992px) {
  .experience {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .experience {
    flex-direction: column;
    margin-bottom: 14rem;
  }
}
