.contact {
  padding: 0 3rem;
  display: flex;
  height: 80vh;
  margin-top: 4rem;
}
.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-left span {
  font-size: 2rem;
  font-weight: bold;
}
.c-left span:nth-of-type(2) {
  color: var(--orange);
}
.c-left .awesome {
  gap: 0;
}
.c-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.c-right form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.c-right .user {
  width: 20rem;
  height: 2rem;
  padding: 0.3rem;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
}
textarea {
  height: 4rem !important;
}
.c-right .button {
  padding: 18px 71px;
  font-size: 25px;
}

/* =============Media queries (Mediem Devices)=========== */
@media screen and (max-width: 1024px) {
}

/* =============Media queries (Small Devices)=========== */
@media screen and (max-width: 992px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    padding: 0;
    align-items: center;
  }
  .c-right {
    width: 100%;
  }
  .c-right form {
    width: 95%;
  }
  .c-right .user {
    width: 100%;
  }
  .awesome {
    flex: unset;
  }
}
