.contact {
  padding: 0 3rem;
  display: flex;
  height: 80vh;
  margin-top: 4rem;
}
.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-left span {
  font-size: 2rem;
  font-weight: bold;
}
.c-left span:nth-of-type(2) {
  color: var(--orange);
}
.c-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.c-right form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.c-right .user {
  width: 20rem;
  height: 2rem;
  padding: 0.3rem;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
}
textarea {
  height: 4rem !important;
}
.c-right .button {
  padding: 18px 71px;
  font-size: 25px;
}
